* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;  
}
body {
    background-image: url('../assets/images/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
/* Clase Reutilizable */
.size-box {
    width: 360px;
    height: 46px;
}
/* Clases especificas */
.nav-container {
    width: 100%;
    height: 46px;
    outline: 1px solid green;
}
nav {
    width: 100%;
    height: 46px;
    display: block;
    position: fixed;
    padding-left: 36px;
    padding-right: 36px;
    background-color: white;
}
#first-section {
    float: left;
    padding-left: 10px;
} 
.global-actions li {
    float: left;
    list-style: none;
    height: 46px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}
.icon{
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 10px;
    padding: 0;
}
.text {
    float: left;
    margin-top: 12px;
    margin-left: 3px;
    padding: 0;
}
.global-actions li a {
    text-decoration: none;
    padding-left: 4px;
    padding-right: 14px;
    border-top: 2px;
    color: #78858e;
}
#second-section {
    padding-left: 10px;
    display: block;
    position: relative;
    float: right;
}
#search-container {
    width: 236px;
    height: 46px;
    margin: 0px;
    display: block;
    position: fixed;
    float: left;
}
#search-container .search-bar {
    background-color: #f5f8fa;
    border: 1px solid #e6ecf0;
    border-radius: 21px;
    float: left;
    font-size: 12px;
    line-height: 16px;
    margin-top: 7px;
    margin-right: 15px;
    padding: 8px 32px 8px 12px;
    border: 1px;
}
.extra-nav li {
    list-style: none;
    height: 100%;
    margin: 7px;
    float: right;
}
.extra-nav li:last-of-type {
    margin-left: 16px;

}
.tweet-box {
    border: 1px;
    border-radius: 100px;
    box-shadow: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    text-align: center;
    background-color: transparent;
}
.profile-left {
    outline: 1px solid blue;
    width: 350px;
    height: 540px;
    margin-left: 60px;
    margin-top: 20px;
}  
.profile-icon {
    outline: 1px solid yellow;
    margin: 25px;
    padding-top: 5px;
} 
.profile-icon img { 
    width: 300px;
    height: 300px;
    border-radius: 170px;
}
.profile-info {
    text-align: center;
    font-weight: initial;
    line-height: 20px;
    color: #78858e;
    height: 80px;
    margin: 15px;
}
.profile-info::first-line {
    font-size: 26px;
}
.profile-info:last-of-type {
    font-size: 20px;
}
.twitter-box-center {
    float: right; 
}